# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Advanced-Tests

on:
  push:
    branches-ignore: ['mainxx']

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan CourseTable with Zed Attack Proxy
    steps:
      - name: ZAP main site
        uses: zaproxy/action-full-scan@v0.2.0
        with:
          target: 'https://www.coursetable.com'

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/app/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Branch name as environment Variable
        run: echo "BRANCH=${GITHUB_REF##*/}"  >> $GITHUB_ENV

      - name: create default-env.json
        run: |
          ls
          mv default-env.json.bak default-env.json

      - name: Install everything
        run: |
          npm i
          cd app
          npm i
          cd test
          npm i
          cd ../../mockserver
          npm i

      - name: srv API tests
        run: npm run test:with-mockserver

      - name: UI tests
        run: |
          cd app/test
          npm run test:ci

      - uses: 5monkeys/cobertura-action@master
        name: srv coverage
        with:
          path: coverage/cobertura-coverage.xml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 75

      - name: Publish Test Report srv
        uses: mikepenz/action-junit-report@v2
        if: always() # always run even if the previous step fails
        with:
          report_paths: 'test-results.xml'

      - uses: 5monkeys/cobertura-action@master
        name: App coverage
        with:
          path: app/coverage/cobertura-coverage.xml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 75

      - name: Publish Test Report app
        uses: mikepenz/action-junit-report@v2
        if: always() # always run even if the previous step fails
        with:
          report_paths: 'app/test/reports/junit/*.xml'

      # - name: Static Application Security Scan
      #   id: njsscan
      #   uses: ajinabraham/njsscan-action@master
      #   with:
      #     args: '. --html --output njsscan.html || true'

      - name: Install k6
        run: |
          curl https://github.com/loadimpact/k6/releases/download/v0.26.2/k6-v0.26.2-linux64.tar.gz -L | tar xvz --strip-components 1
      - name: Start server and run load test tests
        env:
          LOAD_TEST_USER: admin
          LOAD_TEST_PASSWORD: 1234
          LOAD_TEST_URL: http://localhost:4004
        run: |
          npm run loadtest:with-server

      - name: Dynamic Application Security Scan
        uses: zaproxy/action-full-scan@v0.3.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'owasp/zap2docker-stable'
          target: 'https://sc-schwielochsee.de/'
          # cmd_options: '-a -J gl-dast-report.json'

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: reports
          path: |
            reports/
            test-results.xml
            coverage/cobertura-coverage.xml
            app/coverage/cobertura-coverage.xml
            app/coverage/lcov-report/
            app/test/reports/
            app/test/allure-report/
            njsscan.html
            load-performance.json
            gl-dast-report.json
