name: Production Deployment

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Declare some variables
        id: vars
        shell: bash
        run: |
          echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
          echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: Publish release
        uses: flownative/action-docker-publish-semver@master
        with:
          tag_ref: sha-${{ steps.vars.outputs.sha_short }}
          tag_latest: 'yes'

          source_image_name: ghcr.io/rahxam-org/cap-bestpractices
          source_registry_username: ${{ github.repository_owner }}
          source_registry_password: ${{ secrets.GITHUB_TOKEN }}
          source_registry_endpoint: https://docker.pkg.github.com/v2/

          target_image_name: ghcr.io/rahxam-org/cap-bestpractices
          target_registry_username: ${{ github.repository_owner }}
          target_registry_password: ${{ secrets.GITHUB_TOKEN }}
          target_registry_endpoint: https://docker.pkg.github.com/v2/
